path {
    stroke: #fff;
    fill-rule: evenodd;
}
.node {
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
}

.node:hover {
    fill: #000;
}

.link {
    stroke: steelblue;
    stroke-opacity: .4;
    fill: none;
    pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
    font-weight: 700;
}

/*.node--source {*/
    /*fill: #2ca02c;*/
/*}*/

/*.node--target {*/
    /*fill: #d62728;*/
/*}*/

.link--source,
.link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.link--source {
    stroke: #2ca02c;
}

.link--target {
    stroke: #2ca02c;
}

svg .colorScaleBar {
    xborder:1px solid red;
}
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hyper {
    fill: blue;
    text-decoration: underline;
    cursor: pointer;
}

.hyper:hover {
    fill: red;
    text-decoration: none;
    cursor: hand;
}
